{% extends "@protons/tag.twig" %}
{#
  Alert!

  alert_color: String: The color of alert to display.
  alert_dismissible: boolean (true/false)
  alert_additional_classes: additional classes to add to the alert
  alert_heading: optional header h4

  see https://getbootstrap.com/docs/4.0/components/alerts/
#}
{% set attributes = { 'role': 'alert'} %}

{% set element = 'div' %}

{% set status_classes = [
  'primary',
  'secondary',
  'success',
  'danger',
  'warning',
  'info',
  'light',
  'dark'
] %}

{% set classes = [
  'alert',
  alert_color in status_classes ? 'alert-' ~ alert_color
] %}

{% if alert_dismissible %}
  {% set classes = classes|merge(['alert-dismissible', 'fade', 'show']) %}
{% endif %}

{% block inner %}

  {{ text }}

  {% if alert_dismissible %}

    {% set close_button = {
      'button_unstyled': true,
      'button_classes': ['close'],
      'attributes': {
        'data-dismiss': 'alert',
        'aria-label': __('Close', 'bootstrap-twig')
      },
      'text': '<span aria-hidden="true">&times;</span>'
    } %}

    {% include '@atoms/button.twig' with close_button only %}

  {% endif %}

{% endblock %}
