{#
  Breadcrumb!

  breadcrumb_items: Array: A list of breadcrumbs to render.
    item.text: String: The title of the breadcrumb
    item.link: String: The URL of the breadcrumb

  see https://www.w3.org/TR/wai-aria-practices/#breadcrumb

  see https://getbootstrap.com/docs/4.0/components/breadcrumb/ for more details
#}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    {% for item in breadcrumb_items %}
      {% if loop.last %}
        <li class="breadcrumb-item active" aria-current="page">{{ item.text }}</li>
      {% else %}
        <li class="breadcrumb-item"><a href="{{ item.link|default('#') }}">{{ item.text }}</a></li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
