{#
  Navbar!

  navbar_id: String: The html id for the navbar.
  navbar_classes: Array: The html classes for the navbar.
  navbar_aria_label: String: The aria-labelledby value.
  navbar_attributes: Array: Attributes for the Navbar.

  navbar_brand_link: String: The URL the brand text will link to.
  navbar_brand_text: String: The text of the brand.

  navbar_toggle_label: String : label for the toggler

#}
{% import '@macros/html-attributes.twig' as attr %}

{% set navbar_id = navbar_id|default( 'navbar_' ~ random() ) %}
{% set navbar_toggle_label = navbar_toggle_label|default( 'toggle' ) %}
{% set navbar_collapse_id = 'navbar-nav-' ~ navbar_id %}

{% set navbar_classes = ['navbar']|merge(navbar_classes|default([])) %}

{% set navbar_attributes = {
'role': 'navigation',
'id': navbar_id,
'class': navbar_classes|join(' ')|trim
} | merge( navbar_attributes | default({}) )  %}

{% if navbar_aria_label %}
{% set attributes = attributes|merge({ 'aria-labelledby': navbar_aria_label }) %}
{% endif %}

{# collapse tag attibutes down to a string #}
{% set navbar_attributes = attr.attributes( navbar_attributes ) %}

<nav{{ navbar_attributes }}>

{% block navbar_brand %}
  {% if navbar_brand_link and navbar_brand_text %}
    <a class="navbar-brand" href="{{ navbar_brand_link }}">{{ navbar_brand_text }}</a>
  {% endif %}
{% endblock navbar_brand %}

{% block navbar_toggler %}
  {% include '@molecules/buttons/button-icon.twig' with {
    element: 'button',
    button_unstyled: true,
    button_classes: ['navbar-toggler'],
    attributes: {
      'data-toggle': 'collapse',
      'data-target': '#' ~ navbar_collapse_id,
      'aria-controls': navbar_collapse_id,
      'aria-expanded': 'false',
      'aria-label': navbar_toggle_label,
    },
    icon_classes: ['navbar-toggler-icon'],
  } only %}

{% endblock navbar_toggler %}

<div class="collapse navbar-collapse" id="{{ navbar_collapse_id }}">
{% block navbar_content %}
{% endblock navbar_content %}
</div>

</nav>
