{#
  Button group

  group_role: ARIA role (group|toolbar)
  group_label: ARIA label
  group_size: String: lg|sm set whether the buttons are large or small.
  group_buttons: array of button config hashes
  group_classes: array of class names

#}

{% set base_group_class = 'btn-' ~ group_role|default('group') %}

{% set group_classes = [
  base_group_class,
  group_size and group_size in ['sm', 'lg'] ? base_group_class ~ '-' ~ group_size,
]|merge( group_classes|default([]) )|join(' ')|trim %}

<div class="{{ group_classes }}" role="{{ group_role|default('group') }}" aria-label="{{ group_label }}">
{% block group_inner %}
  {% for btn in group_buttons %}
    {% include '@atoms/button.twig' with btn only %}
  {% endfor %}
{% endblock %}
</div>
