{#
  Input Group!

  input_group_classes: Array : classes to apply to outer wrapper.

  input_group_prepend: String: text to place before your inputs
  input_group_append: String: text to place after your inputs

  input_group_inputs: array: list of inputs to place in group


#}

{% set input_group_classes = ['input-group']|merge(input_group_classes|default([])|join(' ')|trim ) %}

<div class="{{ input_group_classes }}">

  {% if input_group_prepend %}
  <div class="input-group-prepend">
    <span class="input-group-text">{{ input_group_prepend }}</span>
  </div>
  {% endif %}

  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">

  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

  <div class="input-group-append">
    <span class="input-group-text">.00</span>
  </div>

</div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">With textarea</span>
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
