
.wp-block-button {
	color: inherit;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		/*rtl:ignore*/
		text-align: right;
	}
}

.wp-block-button__link {

    @include btn();
    @include button-variant( theme-color('secondary'), rgba(0,0,0,0));

}

.is-style-squared .wp-block-button__link {
	border-radius: 0;
}
.no-border-radius.wp-block-button__link {
	border-radius: 0 !important;
}

.is-style-outline {
	color: inherit;

	.wp-block-button__link {
        
        @include button-outline-variant( theme-color('secondary') );

	}
}
