<footer id="page-footer">
  <div class="footer-inner container">
    {% if sidebars.footer %}
    <div class="row">
      {{ sidebars.footer }}
    </div>
    {% endif %}
    <div class="row">
      <div class="col-sm">{{ __('&copy; Copyright %1$s %2$s', 'bootstrap-twig')|format( "now"|date('Y'), site.name ) }}</div>
    </div>
  </div>
</footer>