<footer id="page-footer">

<div class="footer-inner container">
  <div class="row">
    <div class="col-sm">

{{ __('&copy; Copyright %s', 'bootstrap-twig')|format( "now"|date('Y') ) }}

    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

</footer>